* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url('../images/zimmerBack.webp');
    background-size: cover;
    background-position-x: 48%;
    background-position-y: center;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFDBEE;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFDBEE;
    text-align: center;
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFDBEE;
    text-align: center;
    margin: 0 20px;
}

#logo-instructions {
    background-color: #3A001E;
}

#enter-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



#enter-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#enter-button {
    width: 80%;
    height: 60px;
    margin-bottom: 40px;
    font-size: 28px;
    font-family: monospace;
    color: #FFDBEE;
    border-radius: 10px;
}

#enter-button:hover {
    border: 3px solid #3A001E;
}

#name-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#name-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

#label-name {
    background-color: #3A001E;
    color: #A14276;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
    border: 3px solid #A14276;
    border-radius: 10px;
    padding: 5px 10px;
}

#name {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background-color: #A14276;
    color: #3A001E;
    font-size: 28px;
    font-family: monospace;
    padding: 5px 10px;
    border: 3px solid #3A001E;
    font-weight: 700;
}

#name::placeholder {
    color:#3A001E;
    font-size: 25px;
    opacity: 0.7;
}

#submit-button {
    width: 65%;
    height: 60px;
    font-size: 24px;
    font-family: monospace;
    font-weight: 700;
}

#submit-button:disabled {

    background-color: #777;
}

#quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


#choices {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

#choices button {
    font-size: 32px;
    width: 75%;
    height: 60px;
}

#listen-button {
    width: 100%;
    max-width: 200px;
    height: 100px;
    font-size: 60px;
}

#score-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-field {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3A001E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #A14276;
    background-color: #3A001EBB;
    color: #FFDBEE;
    padding: 15px 10px;
    border-radius: 15px;
}


#score-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #FFDBEE;
    text-align: center;
}

#correctScore,
#incorrectScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #FFDBEE;

}

#play-again-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#play-again {
    width: 75%;
    height: 80px;
    font-size: 24px;
}

.type-two-button {
    background-color: #A14276;
    color: #FFDBEE;
    border: 3px solid #3A001E;
    border-radius: 10px;
}

.type-one-button:hover:not(:disabled) {
    background-color: #A14276;
    color: #3A001E;
    border: 3px solid #3A001E;
}

.type-one-button {
    background-color: #3A001E;
    color: #FFDBEE;
    border: 3px solid #A14276;
    border-radius: 10px;
}

.type-two-button:hover:not(:disabled) {
    background-color: #3A001E;
    color: #FFDBEE;
    border-color: #A14276;
    
}

/* Media Queries */

@media only screen and (min-width: 320px) {
    body {
        background-size: cover;
    }
    #choices {
        margin-bottom: 70px;
    }
    #choices button {
        margin-top: 15px;
        max-width: 400px;
    }
}

@media only screen and (min-width: 440px) {
    body {
        background-size: cover;
    }
    }
    #choices button {
        max-width: 400px;
        margin-top: 5px;
    }

@media only screen and (min-width: 768px) {
    body {
        background-size: cover;
    }
    #choices button {
        max-width: 400px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (height: 1024px) {
    body {
        background-size: cover;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-size: cover;
    }
    #choices button {
        max-width: 400px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
    }
    #choices button {
        max-width: 400px;
        margin-top: 5px;
    }
}