* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url('../images/zimmerBack.webp');
    background-size: 450%;
    background-position-x: 48%;
    background-position-y: 0px;
    background-repeat: no-repeat;
}






/* Media Queries */
@media only screen and (min-width: 375px) {
    body {
        background-size: 300%;
    }
}

@media only screen and (min-width: 425px) {
    body {
        background-size: 275%;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-size: 200%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
    }
}